// --- Colors --- //
$black: #555;
$blue: #039BE5;
$dark-blue: #01579B;
$light-gray: #FAFAFA;
$gray: #808080;
$white: #FFF;

// --- Fonts --- //
$banner-font-stack: 'exo2', sans-serif;
$header-font-stack: 'roboto', sans-serif;
$main-font-stack: 'robotolight', sans-serif;
